<div class="container">
  
  <h1>Top Twenty Dance Tracks</h1>
  
  <br>
  
  <div class="col">
    
    <div class="row">
      <nav class="navbar">
        <div class="container">
          <button class="scrape-link btn">Scrape</button>
          <button class="delete-link btn">Clear</button>
        </div>
      </nav>
    </div>
   
   <br>

    <div class="row content-render">
        {{#each songs}}
        <div class="card" data-id="{{this._id}}" style="width: 18rem;">
          <div class="card-body">
            <a id="song-name" href="{{this.songLink}}" target="_blank"><h5 class="card-title">{{this.title}}</h5></a>
            <a id="artist-name" href="{{this.artistLink}}" target="_blank"><h6 class="card-subtitle mb-2">{{this.artist}}</h6></a>
            <a id="artist-name" href="{{this.secondArtistLink}}" target="_blank"><h6 class="card-subtitle mb-2">{{this.secondArtist}}</h6></a>
            <a id="label-name" href="{{this.labelLink}}" target="_blank"><p class="card-text">{{this.label}}</p></a>
            <a href="#" class="card-link like-track" data-id="{{this._id}}">Like Track</a>
            <a href="#" class="card-link add-note" data-id="{{this._id}}" data-toggle="modal" data-target="#exampleModalCenter">Track Notes</a>
          </div>
        </div>

        <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalCenterTitle">Add Note</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <textarea class="w-100" id="notes" name="body"></textarea>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn" data-dismiss="modal">Close</button>
                <button type="button" class="btn" id="save-note">Save Note</button>
              </div>
            </div>
          </div>
        </div>
        {{/each}}
    </div>


</div>