<div class="container">
  
  <h1>Top Twenty Dance Tracks</h1>
   
  <div class="col">
    
    <ul class="shows row">
        {{#each shows}}
        <li class="col-md-auto">
          <a href="{{this.songLink}}" target="_blank"><p>{{this.title}}</p></a>
          <a href="{{this.artistLink}}" target="_blank"><p>{{this.artist}}</p></a>
           <a href="{{this.labelLink}}" target="_blank"><p>{{this.label}}</p></a>
        </li>
        {{/each}}
    </ul>
  
  </div>

</div>